@model DoAnWeb.Models.Category

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Update", "ManagerCat", FormMethod.Post, new { @class = "form-horizontal", id = "frmAdd", enctype = "multipart/form-data" }))
        {
            @Html.TextBoxFor(m => m.CatID, new { type = "hidden" })
            <div class="form-group">
                @Html.LabelFor(m => m.CatName, "Tên Loại Sản Phẩm:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CatName, new { @class = " form-control ", placeholder = "Tên loại sản phẩm" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        &nbsp; Sửa
                    </button>
                </div>
            </div>
        }
    </div>
</div>


