USE [QLBH_Web]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/11/2017 12:35:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/11/2017 12:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[UserID] [int] NULL,
	[Content] [nvarchar](255) NULL,
	[Time] [datetime] NULL,
	[ProID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/11/2017 12:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [money] NULL,
	[Amount] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/11/2017 12:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[Total] [money] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__Orders__C3905BAF5444467A] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producers]    Script Date: 6/11/2017 12:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producers](
	[ProducerID] [int] IDENTITY(1,1) NOT NULL,
	[ProducerName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/11/2017 12:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProID] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](255) NOT NULL,
	[TinyDes] [nvarchar](max) NULL,
	[FullDes] [nvarchar](max) NULL,
	[Price] [money] NULL,
	[ProducerID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[View] [int] NOT NULL,
	[MadeIn] [nvarchar](50) NOT NULL,
	[CatID] [int] NOT NULL,
	[ReceipDate] [date] NULL,
	[Orders] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rating]    Script Date: 6/11/2017 12:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[ProID] [int] NOT NULL,
	[Two] [int] NULL,
	[Three] [int] NULL,
	[Four] [int] NULL,
	[Five] [int] NULL,
	[One] [int] NULL,
	[Rate] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/11/2017 12:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[f_ID] [int] IDENTITY(1,1) NOT NULL,
	[f_Username] [nvarchar](50) NULL,
	[f_Password] [nvarchar](255) NULL,
	[f_Name] [nvarchar](100) NULL,
	[f_Email] [nvarchar](100) NULL,
	[f_DOB] [date] NOT NULL,
	[f_Permission] [int] NOT NULL,
	[f_Address] [nvarchar](255) NULL,
	[f_Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK__Users__2910CFA5FDD1EA41] PRIMARY KEY CLUSTERED 
(
	[f_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CatID], [CatName]) VALUES (1, N'Camera')
INSERT [dbo].[Categories] ([CatID], [CatName]) VALUES (2, N'Laptop')
INSERT [dbo].[Categories] ([CatID], [CatName]) VALUES (3, N'Phone')
SET IDENTITY_INSERT [dbo].[Categories] OFF
INSERT [dbo].[Comments] ([UserID], [Content], [Time], [ProID]) VALUES (2, N'good', CAST(N'2017-06-05 20:26:09.000' AS DateTime), 2)
INSERT [dbo].[Comments] ([UserID], [Content], [Time], [ProID]) VALUES (8, N'not bad!', CAST(N'2017-06-05 20:27:04.000' AS DateTime), 2)
INSERT [dbo].[Comments] ([UserID], [Content], [Time], [ProID]) VALUES (2, N'awesome', CAST(N'2017-06-05 21:36:21.000' AS DateTime), 2)
INSERT [dbo].[OrderDetails] ([OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (10, 11, 3, 239990.0000, 719970.0000)
INSERT [dbo].[OrderDetails] ([OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (10, 12, 4, 289990.0000, 1159960.0000)
INSERT [dbo].[OrderDetails] ([OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (11, 1, 2, 259900.0000, 519800.0000)
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [Total], [Status]) VALUES (10, CAST(N'2017-06-03 01:21:58.653' AS DateTime), 2, 1879930.0000, 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [Total], [Status]) VALUES (11, CAST(N'2017-06-03 01:31:52.750' AS DateTime), 2, 657700.0000, 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [UserID], [Total], [Status]) VALUES (12, CAST(N'2017-06-03 01:37:29.993' AS DateTime), 2, 917600.0000, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Producers] ON 

INSERT [dbo].[Producers] ([ProducerID], [ProducerName]) VALUES (1, N'Apple')
INSERT [dbo].[Producers] ([ProducerID], [ProducerName]) VALUES (2, N'Asus')
INSERT [dbo].[Producers] ([ProducerID], [ProducerName]) VALUES (3, N'Canon')
SET IDENTITY_INSERT [dbo].[Producers] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[Rating] ([ProID], [Two], [Three], [Four], [Five], [One], [Rate]) VALUES (12, 10, 20, 8, 3, 5, 2)
INSERT [dbo].[Rating] ([ProID], [Two], [Three], [Four], [Five], [One], [Rate]) VALUES (1, 0, 0, 0, 0, 1, 1)
INSERT [dbo].[Rating] ([ProID], [Two], [Three], [Four], [Five], [One], [Rate]) VALUES (35, 1, 0, 1, 0, 0, 3)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission], [f_Address], [f_Phone]) VALUES (1, N'admin', N'E1ADC3949BA59ABBE56E057F2F883E', N' Nguyễn Văn An', N'nvan@gmail.com', CAST(N'1990-06-20' AS Date), 1, N'TP. HCM', N'091283945')
INSERT [dbo].[Users] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission], [f_Address], [f_Phone]) VALUES (2, N'user01', N'E1ADC3949BA59ABBE56E057F2F883E', N'Trần Sơn Tùng', N'tstung@gmail.com', CAST(N'1996-02-25' AS Date), 0, N'TP. HCM', N'012435565')
INSERT [dbo].[Users] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission], [f_Address], [f_Phone]) VALUES (8, N'user02', N'E1ADC3949BA59ABBE56E057F2F883E', N'Nguyễn Minh Phong', N'nmphong@gmail.com', CAST(N'1995-02-21' AS Date), 0, N'TP. Biên Hòa', N'090998294')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Product] FOREIGN KEY([ProID])
REFERENCES [dbo].[Products] ([ProID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Product]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([f_ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__286302EC] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Order__286302EC]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProID])
REFERENCES [dbo].[Products] ([ProID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([f_ID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CatID])
REFERENCES [dbo].[Categories] ([CatID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProducerID])
REFERENCES [dbo].[Producers] ([ProducerID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Product] FOREIGN KEY([ProID])
REFERENCES [dbo].[Products] ([ProID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Product]
GO
